.large {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact {
    color: #fff;
    position: relative;
    background: url(FLZ9H14VVV.jpg) center fixed;
    background-size: cover;
}

.contact:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: " ";
    background: url() repeat;
}

.title h2 {
    font-size: 28px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.title p {
    font-size: 17px;
    font-weigth: 200;
}

.input ul {
    margin-bottom: 20px;
}

.input li {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 200;
}

.input li a {
    color: white;
}

.input form label {
    font-size: 14px;
    font-weight: 200;
    color: white;
}

.input form legend {
    color: white;
}

.input form .form-control {
    color: white;
    box-shadow: none;
    border-color: white;
    background: rgba(0,0,0,0.2);
}

.input form .form-control:focus {
    background: rgba(0,0,0,0.6);
}

.red {
    color: #ea0000;
}

.btn {
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px 15px;
    border-color: white;
    background: rgba(0,0,0,0.2);
    color: white;
}

.btn:hover {
    background: rgba(0,0,0,0.6);
    color: white;
}
